@font-face {
  font-family: "Times";
  src: 
  url("fonts/public/fonts/Times New Roman MT Condensed Regular.otf") format("OpenType");
  font-weight: 300;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: open sans;
}

a, img {
  position: relative;
  left: 43%;
  top: 3%;
}

.cards {
    width: 30em;
    height: 18em;
    perspective: 500px;
    transform-style: preserve-3d; 
    transition: transform 900ms;
  }

.cards:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #d7d5cd;
  transition: transform 3s;
    @media (min-width: 32em) {
        width: 25em;
        height: 18.75em;
        min-width: 30em;
    }
}

.card-back {
    background-color: #F0EAD2;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center; 
    @media (min-width: 32em) {
      width: 25em;
      height: 18.75em;
      min-width: 30em;
    }
}

.card-back::before {
    margin-bottom: 10px;
    top: 250px;
    left: 0;
    right: 0;
    padding-left: 1rem;
}

.card-back, .card-front {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    position: absolute;
    backface-visibility: hidden;
}


p {
    font-weight: 500;
    text-align: left;
    font-family: sans-serif;
    font-size: .95rem;
}

.card-front h1 {
    position: relative;
    font-family: "Times", serif;
    font-size: 2.3rem;
    text-transform: uppercase;
    @media (min-width: 32em) {
      font-size: 3.2rem;
      top: 13%;
    }
}

.card-back h1 {
  position: relative;
  font-family: "Times", serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  @media (min-width: 32em) {
    font-size: 3.2rem;
    top: 2%;
  }
}



